body {
    height: 100vh;
}
header {
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 15%;
    background-color: grey;
    border-radius: 0 0 15px 15px;
}
nav { 
	position: fixed;
	width: 10%; 
	height: 600px;
	background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}
nav ul {
	list-style-type: none;
	padding: 0;
}
main {
	width: 70%;
	margin-left: 15%;
}
footer {
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 15%;
    background-color: grey;
    border-radius: 15px 15px 0 0;	
    text-align: center;
	color: white;
}